header{
 text-align: center;
}

main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grupos{
  width: 20%;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

body{
  background-color: #802929;
  color: white;
}
